<!-- pop-ups -->
<!-- The Modal -->
<div id="myModal{{cp.hostname}}" class="modal">

  <!-- Modal content -->
  <div class="modal-content" align="center">
    <span class="close" (click)="closeX()">&times;</span>
    <div class="t-row">
      <p>Choose an icon from the list</p>
    </div>
    <div class="t-row">
        <button class="t-icon-btn" *ngFor="let icon of iconlist" (click)="changeMainIcon(icon)">
          <i class="material-icons"> {{icon}}</i>
        </button>
    </div>
  </div>

</div>

<!-- end pop-ups -->

<div [ngSwitch]="choice" class="t-container2">
  <div *ngSwitchCase="'Custom'" id="custom" class="t-custom">
    <div class="t-row" style="margin-left: 20%">
      <label class="t-label">Name: </label>
      <input [(ngModel)]="cp.configuration.name" type="text" class="t-box" id="t-name">
      <label class="t-label">Icon: </label>
      <button type="button" class="t-mainIcon-btn" (click)="IconShow(cp.hostname)">
        <i class="material-icons" ngDefaultControl [(ngModel)]="cp.configuration.icon" id="mainIcon{{cp.hostname}}">{{cp.configuration.icon}}</i>
      </button>
    </div>
    <br>
    <div class="t-row" style="margin-left: 35%">
      <label class="t-display-label">Which display(s) do I control?</label>
    </div>
    <div class="t-row" align-content="center">
      <label class="t-check-container" *ngFor="let display of displayList">{{display}}
        <input type="checkbox">
        <span class="t-checkmark"></span>
      </label>
    </div>
  </div>

  <div *ngSwitchCase="'Apple'" id="apple" class="t-apple">
    <p>Apple Template</p>
  </div>

  <div *ngSwitchCase="'Blueberry'" id="blueberry" class="t-blueberry">
    <p>Blueberry Template</p>
  </div>

  <div *ngSwitchCase="'Cherry'" id="cherry" class="t-cherry">
    <p>Cherry Template</p>
  </div>
</div>
