.t-container2 {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
  margin-top: 2%;
  margin-left: 2%;
  max-height: 100%;
  overflow: auto;
}

.t-row {
  position: relative;
  float: left;
  width: 100%;
}

.t-row:after {
  content: "";
  display: table;
  clear: both;
}

.t-label {
  float: left;
  margin-left: 2%;
  width: 6%;
}

.t-display-label {
  float: left;
  margin-left: 2%;
  width: 28%;
}

.t-box {
  float: left;
  margin: auto;
  margin-left: 1%;
  width: 25%;
}

.t-mainIcon-btn {
  background-color: #e6e6e6;
  border-radius: 5px;
  border: none;
  width: wrap;
  vertical-align: middle;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  padding: 8px 10px;
}

.t-icon-btn {
  background-color: #e6e6e6;
  border-radius: 5px;
  border: none;
  width: wrap;
  margin: 3%;
  vertical-align: middle;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  padding: 8px 10px;
}

.t-icon-btn:hover {
  background: #999999;
  color: white;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    padding-top: 10px;
    border: 1px solid #888;
    width: 50%;
    max-height: 100%;
    overflow: auto;
    align-content: center;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* The container */
.t-check-container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-left: 2%;
    cursor: pointer;
    width: 10%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.t-check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.t-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    margin-top: 8%;
}

/* On mouse-over, add a grey background color */
.t-check-container:hover input ~ .t-checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.t-check-container input:checked ~ .t-checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.t-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.t-check-container input:checked ~ .t-checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.t-check-container .t-checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Responsive layout - when the screen is less than 800px wide */
@media (max-width: 800px) {
  .t-label {
    float: left;
    margin-left: 2%;
    width: 12%;
  }

  .t-display-label {
    float: left;
    margin-left: 2%;
    width: 65%;
  }

  .t-box {
    float: left;
    margin: auto;
    margin-left: 5%;
    width: 30%;
  }
}
